

	* {
	box-sizing: border-box;
}

body {
	font-family: 'Courier New', Courier, monospace;
	background-color: #87CEFA;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	padding: 30px 0;
	min-height: 100vh;
}

img {
	height: 200px;
	width: 200px;
	
}

p {
	margin-bottom: 5px;
}
h4{
	text-transform: capitalize; 
}
h3 {
	margin: 0;
}
photo {
	height: 500px;
	width: 500px;
}
h5 {
	margin: 10px 0;
}

li {
	margin-bottom: 0;
}

.meal {
	margin: 20px 0;
}

.text-center {
	text-align: center;
}

